
.header
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    color: cornflowerblue;
}
.weather{
    font-weight: bold;
}
.header-right
{
    display: flex;
    align-items: center;
}
.forecast
{
    margin-left: 20px;
}
.title
{
    background-color: cornflowerblue;
    color: white;
    text-align: center;
    height: 100px;
    font-weight: bold;
    padding-top: 40px;
    font-size: 24px;
}
.content{
    height: 350px;
}
.cityName{
    text-align: center;
    font-size: 24px;
    color: cornflowerblue;
}
.inp-cityName
{
    text-align: center;
    margin-top: 20px;
}
.input-city{
    font-size: 20px;
}
.nextday{
    font-size: 20px;
}
.btn-search{
    font-size: 20px;
    background-color: rgb(41, 86, 168);
    color: white;
    font-weight: bold;
}
.footer
{
    background-color: cornflowerblue;
    font-size: 20px;
    height: 50px;
    color: white;
    text-align: center;
    padding-top: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}
a{
    text-decoration: none;
    color: cornflowerblue;
}
.tb-content
{
    margin-top: 20px;
    background-color: cornflowerblue;
    color: white;
    font-size: 16px;
}